@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&display=swap");
:root {
  --primary-color: #e50914;
  --primary-hover: #be000a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  position: relative;
  background: url("./img/bg.jpg") no-repeat top center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 10px 10px 250px rgba(0, 0, 0, 0.5),
    inset -10px -10px 250px rgba(0, 0, 0, 0.5);
}

.showcase-top {
  height: 90px;
  margin-inline: clamp(1rem, 8%, 10rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.netflix-logo {
  fill: currentColor;
  color: var(--primary-color);
  width: 150px;
}

.showcase-top-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.showcase-content {
  max-width: 42rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 17rem;
  position: relative;
  z-index: 2;
  margin-bottom: 13rem;
}

.showcase-content h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.showcase-content p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}

.showcase-content p:last-of-type {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.showcase-content form {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.input-div {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
}

.showcase-content form input {
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(15, 15, 15, 0.575);
  padding: 1.5rem 1rem 0.5rem;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 100%;
}

.showcase-content form .btn-lg{
  margin-left: 1rem;
}

.input-div label {
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffc9;
  left: 1rem;
  transition-property: transform, font-size;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

#inputMail:not(:placeholder-shown) ~ label {
  font-size: 0.75rem;
  transform: translateY(-0.5rem);
}

#inputMail:focus {
  outline: #fff solid 2px;
  outline-offset: 2px;
}

#inputMail:focus ~ label {
  font-size: 0.75rem;
  transform: translateY(-0.5rem);
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

#inputMail::placeholder {
  color: transparent;
}

.error-text-div {
  visibility: hidden;
  color: rgb(235, 57, 66);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* curve */
.curve-container {
  position: relative;
  overflow: hidden;
  height: 7rem;
  z-index: 2;
}

.curve {
  width: 130%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  background-clip: padding-box;
  position: absolute;
  top: 0;
  left: -15%;
}

.curve::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -4px;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

/* trending cards */

.trending-tabs {
  position: relative;
  top: -2.5rem;
  z-index: 2;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.select-container {
  margin-top: 1rem;
}

.trending-card-list {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
}

.card {
  flex: 0 0 auto;
  padding: 1rem 1.5rem;
  scroll-snap-align: start;
  scroll-margin-inline-start: 3rem;
}

.card-content {
  width: 11.25rem;
  height: 15.75rem;
  position: relative;
  transition: transform 200ms ease-in-out;
  display: flex;
  align-items: end;
}

.card-content:hover {
  transform: scale(1.05);
}

#card1 .card-bg {
  background: url(./img/card-1.jpg) no-repeat top/cover;
}
#card2 .card-bg {
  background: url(./img/card-2.jpg) no-repeat top/cover;
}
#card3 .card-bg {
  background: url(./img/card-3.jpg) no-repeat top/cover;
}
#card4 .card-bg {
  background: url(./img/card-4.jpg) no-repeat top/cover;
}
#card5 .card-bg {
  background: url(./img/card-5.jpg) no-repeat top/cover;
}
#card6 .card-bg {
  background: url(./img/card-6.jpg) no-repeat top/cover;
}
#card7 .card-bg {
  background: url(./img/card-7.jpg) no-repeat top/cover;
}
#card8 .card-bg {
  background: url(./img/card-8.jpg) no-repeat top/cover;
}
#card9 .card-bg {
  background: url(./img/card-9.jpg) no-repeat top/cover;
}
#card10 .card-bg {
  background: url(./img/card-10.jpg) no-repeat top/cover;
}

.card-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
}

.card-number {
  font-size: 6.25rem;
  color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.425);
  position: absolute;
  left: -1rem;
}

.card-number::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}

.preview-container {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0px;
  z-index: 5;
  transition: opacity 250ms ease-in;
  opacity: 0;
}

.preview {
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(128, 128, 128, 0.4);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 8px 0px;
  color: rgb(255, 255, 255, 0.7);
  max-height: min(90%, 100% - 3rem);
  max-width: 42rem;
  min-width: 17rem;
  overflow-y: auto;
  flex: 1 1 auto;
  position: relative;
  transition: transform 300ms ease-in;
  transform: scale(0.95);
}

.close-btn-div {
  position: sticky;
  height: 0;
  overflow: visible;
  display: flex;
  justify-content: end;
  z-index: 3;
  top: 0;
}

.close-btn {
  margin: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;
  transition: background 200ms;
  color: #fff;
  &:hover {
    background-color: rgba(127, 127, 127, 0.4);
  }
  &:active {
    background-color: rgba(127, 127, 127, 0.2);
    color: rgba(255, 255, 255, 0.7);
  }
}

.preview-top {
  position: relative;
}

.preview-bg {
  width: 100%;
  padding-bottom: 56%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.preview-bg::after {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: 2;
  background: linear-gradient(
      40deg,
      rgb(22, 22, 22) 24.16%,
      rgba(6, 10, 23, 0) 56.61%
    ),
    linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
}

.preview-top img {
  max-height: 6rem;
  max-width: 60%;
  width: auto;
  margin-left: 2.5rem;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.preview-bottom {
  padding: 1.5rem 2.5rem 2.5rem;
}

.preview-bottom .preview-list {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.75rem;
  li {
    background-color: rgb(65, 65, 65);
    line-height: 1.5;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 0.25rem;
    text-align: center;
  }
}

.preview-bottom .preview-para {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.offer-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.container > h3 {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.offer-card {
  border-radius: 1rem;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  padding: 1.5rem 1rem 8rem;
  position: relative;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  svg {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}

.faq-list {
  margin-top: 1rem;
}

.faq-list li {
  margin-bottom: 0.5rem;
}

.faq-list li div {
  background-color: rgb(45, 45, 45);
  color: #fff;
  font-size: 1.5rem;
  overflow: hidden;
  visibility: collapse;
  max-height: 0;
  padding: 0 1.5rem;
  transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);
  margin-top: 1px;
}

.faq-list li div.visible {
  visibility: visible;
  max-height: none;
  padding: 1.5rem;
}

section .showcase-content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}
footer{
  margin-bottom: 6rem;
}
footer .container p {
  margin-bottom: 2rem;
}

footer .container  a {
  color: inherit;
  text-decoration: underline;
}

.footer-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: fit-content;
  li{
    flex: 0 0 25%;
    line-height: 1.5;
    font-size: 0.9rem;
    margin-top: 0.75rem;
  }
}

footer .container .select-div{
  margin-left: 0;
  margin-top: 2rem;
}

footer .container:last-child div{
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* buttons */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  transition: background 300ms;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn:active {
  color: rgba(255, 255, 255, 0.7);
}

.btn-md {
  font-size: 1.1rem;
  padding: 0.8rem 1.1rem;
  display: flex;
  align-items: center;
  svg {
    width: 1.5rem;
    height: inherit;
    margin-left: 0.6rem;
  }
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.8rem 1.3rem;
  display: flex;
  align-items: center;
  svg {
    width: 1.5rem;
    height: inherit;
    margin-left: 0.75rem;
  }
}

.btn-grey {
  padding: 1.8rem 1.5rem;
  border-radius: 0;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  font-weight: 400;
  background-color: rgb(45, 45, 45);
  transition: background-color 250ms;
  svg {
    width: auto;
    transition: transform 250ms;
    transform: rotate(0);
  }
}

.btn-grey svg.visible {
  transform: rotate(40deg);
}

.btn-grey:active {
  color: #fff;
}

.btn-grey:hover {
  background-color: rgb(65, 65, 65);
}

.select {
  appearance: none;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  padding-block: 0.4rem;
  padding-inline: 2rem;
  margin: 0;
  text-align: left;
  font-weight: 400;
  &:hover {
    background-color: transparent;
  }
  z-index: 4;
}

.select-div {
  margin-left: 1rem;
  background-color: rgba(15, 15, 15, 0.575);
  border: 1px solid rgb(117, 117, 117);
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  svg {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 0.75rem;
    right: auto;
    color: #fff;
  }
  svg:last-child {
    right: 0.75rem;
    left: auto;
  }
}

.select-div:first-child {
  margin-left: 0;
}

.scroll-btn-div {
  position: absolute;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.scroll-btn-div:has(#leftScroll) {
  left: -5rem;
  transition: left 500ms ease-in-out;
}

.scroll-btn-div:has(#rightScroll) {
  right: 0;
  transition: right 500ms ease-in-out;
}

.scroll-btn {
  margin: 0;
  padding: 0;
  height: 7.5rem;
  width: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  transition: opacity 200ms ease-in-out;
  opacity: 0.8;
  border-radius: 0.5rem;
}

.scroll-btn:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

.select-container .select {
  text-align: start;
  line-height: 1.5;
  padding-left: 0.5rem;
  padding-right: 2.5rem;
}

/* container & wrapper */

.container {
  margin: 0 auto;
  max-width: 105rem;
  width: 97%;
  padding-inline: 2rem;
}

.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}


/* media queries */
@media (max-width: 960px) {
  .showcase-top{
    margin-inline: 1rem;
    font-size: 1rem;
  }
  .netflix-logo{
    width: 100px;
  }
  .showcase-content{
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 90%;
    h1{
      font-size: 2rem;
    }
  }
  .curve{
    width: 180%;
    left: -40%;
  }
  .btn-lg{
    font-size: 1.2rem;
  }
 .select-container .select-div .select{
    width: 100%;
  }
 .select-container .select-div{
    display: flex;
  }
  .select-div:last-child{
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .container h1{
    font-size: 1.2rem;
  }
  .card{
    padding: 0.3rem 0.6rem;
  }
  .card-content{
    height: 9.8rem;
    width: 7rem;
  }
  .card-number{
    font-size: 4rem;
    left: -0.5rem;
  }
  .container h3{
    font-size: 1.2rem;
  }
  .faq-list li div{
    font-size: 1.2rem;
  }
  .container > h3{
    margin-top: 3rem;
  }
  .offer-card-container{
    grid-template-columns: 1fr;
  }
  .offer-card{
    padding-bottom: 5rem;
  }
  section .showcase-content{
    margin-bottom: 0rem;
    max-width: 90%;
  }
  .footer-list li{
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .showcase-top .select-div .select{
    width: 0;
 }
 .showcase-content form{
  flex-direction: column;
  align-items: center;
 }
 .showcase-content form .input-div{
   width: 100%;
   margin-bottom: 1rem;
   line-height: 1;
  }
 .showcase-content form input{
    line-height: 1;
  }
  section .showcase-content{
    align-items: flex-start;
  }
  section .showcase-content form{
    align-items: flex-start;
    .btn-lg{
      margin-left: 0;
    }
  }
  .footer-list li{
    flex: 0 0 100%;
  }
  .btn-grey{
    padding: 1.5rem;
  }
}